@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: aquamarine;
    text-align: center;
    text-shadow: 2px 2px black;
}
h2 {
    text-align: center;
    margin: 1rem;
}
h3 {
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 2px black;
}
header {
    margin: 5rem;
}
body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
#total1 {
    font-size: 2rem;
    border: 1rem solid aquamarine;
    margin: 1rem;
    text-align: center;
    color: white;
    width: 50%;
}
.cartas {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#section1 {
    margin: 2rem;
    padding: 4rem;
    border: 1rem solid aquamarine;
}
#section2 {
    text-align: center;
    padding: 1rem;
}
#section3 {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#section4 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-label {
    font-size: x-large;
}
.moal-backdrop.show {
    opacity: 0;
}
.readme {
    font-size: larger;
    color: white;
    padding: 1rem 0 1rem 0;
}
/*api*/
.main-section {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-section h2 {
    text-transform: uppercase;
    color: #736c6c;
}
.container {
    width: fit-content;
    text-align: center;
    border: solid 1rem aquamarine;
}
.form-side {
    margin-top: 2%;
}
.error {
    color: red;
}
.display-info p span {
    font-weight: 700;
}
.display-info .main-price {
    font-size: 28px;
    margin-bottom: 2px;
}
.regis {
    width: 80%;
    height: 2rem;
}
footer {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    height: 3rem;
    color: black;
}
